.navigation_wrapper
  .navigation
    %ul
      %li=link_to icon('home')+ ' Home', root_path
      %li=link_to icon('people') + ' Users', users_path
      %li=link_to icon('group_work') + ' Groups', groups_path
